<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        
    </style>
</head>
<body>
{{if .Username}}
<h1>Hey {{.Name}}</h1>
{{end}}
<a href="/logout">Log Out</a>
</body>
</html>